.container {
	text-align: center;
}

.container h1 {
    font-size: 22px;
    color: #FFFFE0;
 }

 body {
    background: url(../img/registration.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 }


/*=========================================*/

.navbar-brand, .navbar-nav{
    padding-top: 0;
}

.navbar-default {
	background-color: #FFBF00;
	border-style: none;
}

.navbar-my {
	white-space: nowrap;
	border-style: none;
}

.navbar div {
	line-height: 50px;
	vertical-align: middle;
	white-space: nowrap;
	margin-left: 75px;
	margin-right: 75px;
	display: inline-block;
}

.navbar div a{
    font-weight: 600;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
}


.navbar .nav {
	white-space: nowrap;
	display: inline;
	
}

.navbar  a:hover{
  text-decoration: none;
}

footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	
	background-color: #3f4245;
}

footer p {
	line-height: 30px;
	vertical-align: middle;
	text-align: center;
	color: #999999;
}



